@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  overflow-x: hidden !important;
}

.gradient_bg {
  background: linear-gradient(
    113.53deg,
    #98d084 -32.06%,
    #b0ee9a 23.06%,
    #224281 78.18%,
    #112c61 133.3%
  );
  /* background-repeat: no-repeat; */
}

.gradient_balls {
  background: linear-gradient(144.5deg, #3c65b4 15.49%, #0a1e46 70.14%);
}

.dark_blue {
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(17, 44, 97, 0.25), rgba(17, 44, 97, 0.25));
  color: "white !important";
}

.rounded_gradient {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #98d084;
  filter: blur(50px);
  position: absolute;
  bottom: 0px;
  right: -10%;
  z-index: -10;
}
